/*Navegación*/
.navigation
{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: black;
}
.navigation--item{
    color:white;
    text-decoration: none;
    font-size: 20px;
    border-style:solid;
    border-color: black;
    padding: 20px;
}
.navigation--item:hover{
    border-top-color: white;
    border-bottom-color: white;
    transition-duration: 0.3s;
}
.btn{
    background-color: black;
    border: none;
    color: white;
}
.btn__cambios--idiomaT{
    font-size: 15px;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: black;

}
.navigation--item--idioma{
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 30px;
}

.mode{
    background-color: rgba(41, 41, 41, 0.844);
    padding: 10px;
}
.btn--mode{
    background-color: white;
    color: black;
    padding: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    font-size: 15px;
}
.btn--mode:hover{
    background-color: black;
    color: white;
    transition-duration: 0.3s;
}

/*FOOTER*/
.footer{
    font-size: 20px;
    margin-top: 60px;
    padding: 20px;
    background-color: black;
    border-style: solid;
    border-left-color: black;
    border-right-color: black;
}
.redes--image{
    max-width: 250px;
    min-width: 250px;
}




.body-spicyShop {
  background-image: url("../Image/leopardo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #f5f5f5;
  font-family: 'Arial', sans-serif;
}

.header-spicyShop {
  text-align: center;
  background-color: #800020; /* granate oscuro */
  color: #fff5f5;
  border-radius: 15px;
  padding: 30px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}

.header-spicyShop h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;

}

.header-spicyShop p {
  font-size: 1.5rem;
  font-weight: bold;
}

.container-spicyShop {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.section-spicyShop {
  border: 2px solid #aa3939;
  border-radius: 20px;
  padding: 20px;
  margin: 15px 0 30px;
  background-color: rgba(0, 0, 0, 0.8);
}

.section-spicyShop__title {
  font-size: 2.5rem;
  color: #ffcccc;
  margin-bottom: 10px;
}

.section-spicyShop__label {
  display: block;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #aa3939;
  margin-top: 8px;
  background-color: #2e2e2e;
  color: #f5f5f5;
  transition: background 0.3s, color 0.3s;
}

.section-spicyShop__label:hover {
  background-color: #800020;
  color: #fff;
}

.btn-spicyShop {
  width: 80%;
  display: block;
  margin: 30px auto;
  padding: 15px;
  background-color: #aa3939;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1.2rem;
  transition: background 0.3s;
}

.btn-spicyShop:hover {
  background-color: #d46a6a;
}

.result-spicyShop {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}

.result-spicyShop__title {
  font-size: 2.5rem;
  color: #ac0202;
}

.result-spicyShop__img {
  width: 250px;
  margin-top: 20px;
  border-radius: 15px;
  border: 3px solid #aa3939;
}

.result-spicyShop__text {
  font-size: 1.2rem;
  color: #ac0202;
  margin-top: 10px;
}

.volver-index-spicyShop {
  color: #fff;
  margin-top: 40px;
  text-decoration: none;
  padding: 12px 20px;
  background-color: #800020;
  border-radius: 15px;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  transition: background 0.3s;
}

.volver-index-spicyShop:hover {
  background-color: #aa3939;
}

@media (max-width: 768px) 
{
    .navigation 
    {
        flex-direction: column;
        align-items: center;
    }

    .navigation--item 
    {
        margin-bottom: 10px;
    }
}